<nav
  id="mainNavbar"
  class="navbar navbar-expand-md sticky-top"
>
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2" href="/listings">
      <i class="fa-regular fa-compass"></i>
      <span class="fw-semibold">Nestin</span>
    </a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

     <!-- Center Search -->
<div class="mx-auto d-flex justify-content-center">
  <form class="d-flex search-form" action="/listings/search" method="GET">
    <input
      class="form-control search-inp"
      type="search"
      name="q"
      placeholder="Search location"
      required
    />
    <button class="btn search-btn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>


      <!-- Links -->
      <div class="navbar-nav align-items-center gap-2">
        <a class="nav-link" href="/listings/new">Add Listing</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Login</a>
        <% } else { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>

        <!-- Dark Mode Toggle -->
        <button
          id="darkToggle"
          class="btn theme-toggle ms-2"
          title="Toggle theme"
        >
          🌙
        </button>
      </div>

    </div>
  </div>
</nav>
