<% layout("/layouts/boilerplate") %>
<div class="hero-section">
  <img 
    src="public/images/hero_image.jpg" 
    alt="Hero Image" 
    class="hero-img"
  />

  <div class="hero-text text-center">
  <h1 class="display-4 mb-3 text-light fw-bold">
    Welcome to <span class="text-primary">Nestin</span>
  </h1>
  <p class="lead mb-4 text-light fw-bold">
    Find and share amazing places to stay.
  </p>
  <a href="/listings" class="btn btn-primary btn-lg">Browse Listings</a>
</div>
</div>
